<div class="row center-md center-lg">
  <form [formGroup]="registerForm">
    <div class="row">
      <md-input-container>
        <input mdInput placeholder="Nombre" formControlName="firstName">
      </md-input-container>
    </div>
    <div class="row">
      <md-input-container>
        <input mdInput placeholder="Apellido Paterno" formControlName="lastName">
      </md-input-container>
    </div>
    <div class="row">
      <md-input-container>
        <input mdInput placeholder="Telefono" formControlName="phone">
      </md-input-container>
    </div>
    <button md-raised-button [disabled]="!registerForm.valid"> <span> Enviar</span></button>
  </form>
</div>
<div class="row">
<span>
{{registerForm.value | json}}
</span>

</div>

